
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../IMG/start.png);
  background-size: cover;
}
.text-h{
  color: white;
}

.text{
  color: white;
}

.keys{
  display: none;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 1337px;
  bottom: 361px;
}

.button1{
  display: block;
    cursor:pointer;
  background-color: black;
  color: white;
  height: 60px;
  width: 200px;
  position:absolute;
  left: 810px;
  bottom: 225px;
}
.button2 {
  display: inline-block;
    cursor:pointer;
  background-color: black;
  color: white;
  height: 60px;
  width: 200px;
  position:absolute;
  left: 710px;
  bottom: 100px;
  display: none;
}
.button3{
  display: inline-block;
    cursor:pointer;
  background-color: black;
  color: white;
  height: 60px;
  width: 200px;
  position:absolute;
  left: 910px;
  bottom: 100px;
  display: none;

}
